# Python
__pycache__/
*.py[cod]
*$py.class

# uv / virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.local

# Data and models (Không đưa dataset hoặc pre-trained weights lên Git)
data/
*.pth
*.pt
*.onnx

# LaTeX build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.xdv

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
